/* /**{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-color:#F1C2D6;

}
header{
	width:100%;
	height:25%;
}
*/
/* *{
    
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
.main{
    width:100%;
    height:100vh;
    display:flex;
    flex-wrap: wrap;
}
header{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:40%;
    height: 100vh;
    background:#eee;
    margin:0 auto;
   
    
    
}
section{
	width:60%;
    height:100vh;
    background:#F1C2D6;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    position: relative;

   
}
.section0{
	width:100%;
	height:25%;
	

}
.title{
    margin:0 auto;
    font-family: 'Exo', sans-serif;
    font-size:42px;
    color:#2C4064;
    text-decoration: none;
    font-weight:bold;
    overflow:hidden;
    
    
}


  
nav ul{
        float:center;


}
nav ul li{
   display:flex;
   flex-direction: column;
   padding-top:15px;
   margin-right: 15px;
   justify-content: center;
   align-items: center;
   


    
   
}
nav ul li a{
    padding:6px;
    color:white;
    text-decoration: none;
    font-family: 'Flamenco', cursive;
    text-transform: uppercase;
    font-weight: 100px;
    transition: background-color 0.2s,border 0.2s, color 0.2s;
}
nav ul li a:hover{
    background:#F285B4;
    border-radius: 50%;
    border-bottom:1px solid white;
    cursor: pointer;
} */


.section1{
	width:100%;
	height:80%;
	font-family: 'Exo 2', sans-serif;
	
} 
.define{
	margin:0 auto;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin-bottom:25px;
}
.define label{
    font-size:18px;
    align-content: left;
    font-weight: bold;
}
.define p{
	align-items: center;
	justify-content: center;
	margin:1px 10px ;


}
@media screen and (min-width: 670px){
    nav ul{
        float:right;
    }
    nav ul li{
        
      display:inline-block;
      margin-top:15px;
      margin-right:25px;
    
    }
    nav ul li a{
        padding:25px;
        font-size:25px;
    }
    header{
        width:25%;
    }
    section{
        width:75%;

    }
    .define p{
		align-items: center;
		justify-content: center;
		margin:1px 30px ;
	}
   
   
}
@media screen and (min-width:925px){
    nav ul li a{
        font-size:32px;
    }
    .define p{
		align-items: center;
		justify-content: center;
		margin:1px 60px ;
	}
	.section1{
		margin-top:60px;
	}
   
    
} 
@media screen and (min-width: 569px){
  nav ul{
        float:right;
    }
  nav ul li{
        
      display:inline-block;
      margin-top:10px;
      margin-right:15px;
    
    }
  nav ul li a{
        padding:15px;
        font-size:25px;
    }
  
  header{
        width:25%;
  }
  section{
        width:75%;

  }
}