<HTML>
<HEAD>
    <TITLE>Home</TITLE>
    <link rel="stylesheet" href="{{url_for('static', filename='css//about.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css//home.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    google font-->
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet"> 
</HEAD>
<body>
    <div class="main">
        <header>
            <a href="{{ url_for('index') }}" class="title">MiND MAPS</a>
            <img src="{{url_for('static', filename='img//Logo.png')}}" alt="Mind map logo" class="logo">

        </header>
        <section>
            <div class="section0">
                <nav>
                   <ul>
                      <li><a href="{{ url_for('index') }}">Home</a></li>
                      <li><a href="{{ url_for('about') }}">About</a></li>
                      <li><a href="{{ url_for('developers') }}">Creators</a></li>
                      {% if 'username' in session %}
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                      {% endif %}
                   </ul>

                </nav>
            </div>
            <div class="section1">
                <div class="define">
                    <label>What is mind mapping?</label>
                    <p>A graphical representation of ideas and concepts that actually represent how the mind works is a mind map.</p>
                </div>
                 <div class="define">
                    <label>Why to use MiND MAPS?</label>
                    <p>It is the best way to think of new ideas, or build on existing concepts, plan and present ideas and also, solve problems. Without worrying about any order or structure, a mind map allows you to represent your thoughts and ideas that are linked with a central, primary concept or prompt.</p>
                </div>
            </div>
        </section>
    </div>

</body>
</HTML>





